@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
@mixin flexRow {
  display: flex;
  flex-direction: row;
}

.mainPage {
  @include flexColumn;

  .navbar {
    background-color: rgba(119, 119, 119, 0.361);
    background-image: url(./assets/images/Background_main.png);
    background-size: 20em;
    background-repeat: repeat-x;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;

    .navbarLeft {
      .burgerMenu {
        cursor: pointer;
      }
    }

    .navbarCenter {
      .viewMonth {
        text-align: center;
      }
      .goal {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 25rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
        border: 2px solid black;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
      }
    }

    .navbarRight {
      @include flexColumn;
      position: relative;

      .userContainer {
        @include flexColumn;
        align-items: center;

        .userImg {
          width: 60px;
          aspect-ratio: 1;
          border: 2px solid black;
          border-radius: 50%;
          cursor: pointer;
        }

        .userDropdown {
          position: absolute;
          top: -2em;
          background-color: rgb(176, 196, 222);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          width: 9.5rem;
          z-index: 1;

          .userInfo {
            text-align: center;

            .userDetails {
              @include flexColumn;

              hr {
                width: 50%;
                height: 2px;
                border: none;
                color: black;
              }
              .userH3 {
                min-width: 3rem;
              }
              .userLevel {
                @include flexRow;
                align-items: center;
                justify-content: space-evenly;

                .levelIcon {
                  height: 30px;
                  aspect-ratio: 1;
                }
              }

              .userXp {
                @include flexRow;
                align-items: center;
                justify-content: space-evenly;
                .xpIcon {
                  height: 30px;
                  aspect-ratio: 1;
                  border-radius: 5px;
                }
              }

              .tooltip {
                position: relative;
                display: inline-block;
                border-bottom: 1px dotted black;

                .tooltipText {
                  visibility: hidden;
                  width: 2rem;
                  background-color: black;
                  color: white;
                  text-align: center;
                  padding: 5px 0;
                  border-radius: 6px;
                  position: absolute;
                  z-index: 1;
                }

                &:hover .tooltipText {
                  visibility: visible;
                }
              }
            }
          }
          .dropdownList {
            list-style: none;
            padding: 0;
            text-align: center;

            .dropdownItem {
              margin-top: 0.5em;
              padding: 0.5em;
              background-color: rgba(240, 248, 255, 0.264);
              border-radius: 20px;

              &:hover {
                background-color: rgb(155, 161, 166);
              }
            }
          }
        }
      }
    }
  }

  .weekday {
    @include flexColumn;
    justify-content: space-around;
    background-color: lightgray;
    align-items: center;
    gap: 10px;
    margin: 1rem;
  }
}
